# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: dfc7d831f242f2d50aa6e755219c276a73c5501540e1d0ef980ccfe762e76081abc86eb70cfb1a7651a99560a349973ec5999a1a648d56cc1f2b6341942c794e

test:
  secret_key_base: 962ae46498cebcea1461344f76b01c3106d48cc4f54d3a64eafa28732bf543a980df233ea7193b269edb2dad8441263c63d0fa71c15c08d4579762d1fa2bf421

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
